/* 使用说明: 
	是一个偏文艺的格式,可以用作人文类学科的笔记
	来源于之前在 OneNote 上设出的格式
	
	**text** 强调
	*text* 可以当成比较少见的强调,颜色不一样
	> blockquote 浅色注释
	> > blockquote 或者 <u>text</u> 重要性最弱的浅色注释
	差不多就是这样,设定了多级列表
	另外代码段格式没有详细设置,毕竟这是偏人文学科的排版.
	
	2021年5月28日
*/

/* 引用字体文件 */
@font-face {
	font-family: '文艺字体';
	src: url(FZQKBYSJW.TTF), url(LucidaUnicodeCalligraphy.ttf);
}


/* SECTION1: 基本设定, 改编自vscode markdown.css */
:root{
	--md-font-family: '文艺字体';
	--md-font-size: 1em;
	--md-font-color: black;
	--md-line-height:1.75em;
	--md-background-color: transparent;
	--color-dark-red:rgb(180,53,18);
	--color-red:rgb(232,76,34);
	--color-light:rgb(204,193,217);
	--color-green:rgb(112,173,71);
	--color-brown:rgb(131,60,11);
	--para-distance:0.7em;  /* 设置段落间距 */
}

html, body {
	font-family: var(--md-font-family, -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, "Ubuntu", "Droid Sans", sans-serif);
	font-size: var(--md-font-size, 14px);
	color: var(--md-font-color,black);
	background-color: var(--md-background-color,white);
	/* padding: 0 26px; */
	/* html 左右空5% body 左右空5%, 最终左右各空10%左右 */
	padding: 0 5%; 
	line-height: var(--md-line-height, 22px);
	word-wrap: break-word;
}

body {
	padding-top: 1em;
}

/* Reset margin top for elements */
h1, h2, h3, h4, h5, h6,
p, ol, ul, pre {
	margin-top: 0;
}

h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin-bottom: 0.2em;
}



body.scrollBeyondLastLine {
	margin-bottom: calc(100vh - 22px);
}

body.showEditorSelection .code-line {
	position: relative;
}

body.showEditorSelection .code-active-line:before,
body.showEditorSelection .code-line:hover:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: -12px;
	height: 100%;
}

body.showEditorSelection li.code-active-line:before,
body.showEditorSelection li.code-line:hover:before {
	left: -30px;
}

img {
	max-width: 100%;
	max-height: 100%;
}

a {
	text-decoration: none;
	color: #065588;
}

a:hover {
	text-decoration: underline;
}

a:focus,
input:focus,
select:focus,
textarea:focus {
	outline: 1px solid -webkit-focus-ring-color;
	outline-offset: -1px;
}

p {
	/* margin-bottom: var(--para-distance); */
	margin-bottom: 0;
	margin-top: var(--para-distance);
	/* 默认是段落后空行,改为段前空行,为了段落和后面的列表连起来 */
	/* p + ul 设定也是为了符合这个要求 */
}

ul,
ol {
	margin-bottom: 0.7em;
	/* margin: 0 0 0 0; */
    padding-left: 2em;
}

hr {
	border: 0;
	height: 2px;
	border-bottom: 2px solid;
	border-color: var(--color-light);
}

h1 {
	padding-bottom: 0.3em;
	line-height: 1.2;
	/* border-bottom-width: 1px;
	border-bottom-style: solid; */
	font-weight: normal;
}

table {
	border-collapse: collapse;
}

th {
	text-align: left;
	border-bottom: 1px solid;
}

th,
td {
	padding: 5px 10px;
}

table > tbody > tr + tr > td {
	border-top: 1px solid;
}

/* 引用部分左侧竖线,字体使用浅色 */
blockquote {
	margin: 0 7px 0 5px;
	padding: 0 1em 0 1em;
	
	background-color: transparent;

	border-left-width: 1.5px;
	border-left-style: solid;
	border-left-color: var(--color-green);

	color: var(--color-green);
}
blockquote blockquote{
	/* 引用中的引用使用更浅的颜色,表示忽略不中断语义 */
	color: var(--color-light);
	border-left-color: var(--color-light);
}

code {
	font-family: "SF Mono", Monaco, Menlo, Consolas, "Ubuntu Mono", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace;
	font-size: 1em;
	line-height: 1.357em;
}

body.wordWrap pre {
	white-space: pre-wrap;
}

pre:not(.hljs),
pre.hljs code > div {
	padding: 16px;
	border-radius: 3px;
	overflow: auto;
}

pre code {
	/* color: var(--vscode-editor-foreground); */
	background-color: transparent;
	tab-size: 4;
}

/* SECTION2: 标题, 强调等字体的样式设定 */
h1{
	font-size:20pt;
	text-align: center;
	color:black;
}
h2{
	font-size:16pt;
	color:rgb(30,78,121);
}
h3{
	font-size:15pt;
	color:rgb(46,117,181);
}
h4{
	font-size:14pt;
	color:rgb(31,55,99);
}
h5{
	font-size:12pt;
	color:rgb(46,117,181);
}
h6{
	font-size:11pt;
	color:rgb(47,84,150);
}

em {   /*斜体强调，改为使用非斜体红色*/
	font-style: normal;
	color:  var(--color-dark-red);
}
strong { /* 粗体强调,改为使用红色常规 */
	font-weight: normal;
	color: var(--color-red);
}
u { /* 下划线,markdown语法中没有,这里稍微扩展一下.. */
	text-decoration:none;
	color: var(--color-light);
}

/* SECTION3: 补充部分样式, 来源 typora 的 newsprint.css, 
有部分样式覆盖了之前设置的基本样式 */
/* 标题 */
h1 {
	font-size: 1.875em;
	line-height: 1.3em;
	margin-top: 2em;
}
h2, h3 {
	font-size: 1.3125em;
	line-height: 1.15;
	margin-top: 2.285714em;
	margin-bottom: 1.15em;
}
h3, h4 {
	font-size: 1.125em;
	margin-top: 2.67em;
}
h5, h6 {
	font-size: 1em;
}


/* 多级列表 */
ol li {
	list-style-type: decimal;
	list-style-position: outside;
}
ul li {
	list-style-type: disc;
	list-style-position: outside;
}
/* ol, ul {
	list-style: none;
	margin: 0 0 1.5em 1.5em;
} */

li > ul, li > ol {
	margin-bottom: 0;
}
/*很多地方 p 默认的 margin 设在 bottom,(虽然本 css 让 p 设在了top)
这里让列表中的 p 设在top,
是为了让 p 与后面的子列表挨着 */
ul p, ol p {
	margin-top: var(--para-distance);
	margin-bottom: 0;
}


li ol>li { /* 二级有序列表 */
	list-style-type: lower-alpha;
}

li li ol>li{ /* 三级有序列表 */
	list-style-type: lower-roman;
}

li ul>li { /* 二级无序列表 */
	list-style-type: circle;
}

li li ul>li{ /* 三级无序列表 */
	list-style-type: square;
}

p + ul, p + ol,
h3 + ul,
h4 + ul,
h5 + ul,
h6 + ul,
h3 + ol,
h4 + ol,
h5 + ol,
h6 + ol{  /* 段落(列表的说明信息)紧挨列表 */
	margin-top: 0;
}

blockquote ul,
blockquote ol {
	margin-left:0;
}

/* 有时候列表中会插入一些blockquote作为注释,
blockquote本身的样式已经可以区分段落了
不希望blockquote占太多空间,去除blockquote中p的间距
维持列表紧凑的样子, */
li > blockquote > p,
li > blockquote > p{
	margin: 0;
	border: 0;
}

/* 表格 */
/* table {
	margin-bottom: 1.5em;
	font-size: 1em;
	width: 100%;
}
thead th,
tfoot th {
	padding: .25em .25em .25em .4em;
	text-transform: uppercase;
}
th {
	text-align: left;
}
td {
	vertical-align: top;
	padding: .25em .25em .25em .4em;
} */
